
<section class="main section">
  <div class="container">
    <div class="content">
      <div class="iteam">
        <img src="/assets/images/banner1.jpg"width="340%">
        <p> Mua 2 tặng 1 thứ 5 hàng tuần</p>

      </div>
      <div class="iteam">
        <img src="/assets/images/banner2.jpg"width="340%">
        <p> Combo 39k cuối tuần </p>
      </div>
      <div class="iteam">
        <img src="/assets/images/banner3.jpg"width="340%">
        <p> Mua 1 tặng 1 cả nhà vui vẻ </p>
      </div>
      <div class="iteam">
        <img src="/assets/images/banner4.jpg"width="340%">
        <p> Mua 1 tặng 1 chỉ áp dụng cho đồng giá 15k/đơn </p>
      </div>
    </div>
  </div>
</section>

<footer class="footer section">
  <div class="container">
    <div>
      <div class="copyright">
        <p>Copyright 2015 Burger King Corporation.All Rights Reserved.</p>
      </div>
      <ul class="bottomlinks">
        <li><a href="#"> About Us</a></li>
        <li><a href="#"> Contact</a></li>
      </ul>
    </div>
    <div class="hotline-bar">
      <a href="0123456789">
        <span class="hotline"><img src="/assets/images/Burgerking-Delivery-Desktop1.jpg" /></span>
      </a>
    </div>
  </div>
</footer>
